#meImageHolder {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

#pictureOfMe {
    display: block;
    width: 100%;
    border-radius: 50%;
}

#descriptionOfMe {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#descriptionOfMe>h2 {
    font-size: calc(18px + 1vw);
}

#descriptionOfMe>p {
    font-size: calc(12px + 1vw);
}
