#meImageHolder {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

#pictureOfMe {
    display: block;
    width: 100%;
    border-radius: 50%;
}

#descriptionOfMe {
    width: 33%;
    margin-right: auto;
    margin-left: auto;
}

#descriptionOfMe>p {
    text-align: center;
}
